body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
/*Header Section*/
#header-nav{
    background-color: #f6b319;
    border: 0 ;
    border-radius: 0%;
}
#logo-img{
    background: url('1.JPG') no-repeat;
    width: 150px;
    height: 120px;
    margin: 10px 15px 10px 0px;
    float: left;
}
.navbar-brand{
    padding-top: 10px;
}
/*Gallery name*/
.navbar-brand h2{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;
}
.navbar-brand:hover,.navbar-brand:focus{
    text-decoration: none;
}
/*certified section*/
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font: .7em;
    margin-top: 15px;
}
/*Star Certified*/
.navbar-brand p span{
    vertical-align: middle;
}
/*toggle button nav-list*/
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: #951C49;
    text-align: center;
}
#nav-list a:hover{
    background: #e7e7e7;
}
#nav-list a span{
    font-size: 1.2em;
}
#phone a{ /*Phone number*/
    text-align: right;
    padding-top: 0;
}
#phone div{/*we deliver*/
    color: #5573ce;
    text-align: right;
    padding-right: 15px;
}
/*border of toggle button*/
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
    border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
    clear: both;
}
/* END Header */

/*Homepage*/
.container .jumbotron{
    background: url('1.jpg') no-repeat;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}
#menu-tile, #specials-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-bottom:15px;
    position: relative;
    border: 2px solid #3f0c1f;
    border-radius: 10%;
    overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
    background: url('1.jpg') no-repeat;
    background-position:center ;
}
#specials-tile{
    background: url('1.jpg') no-repeat;
    background-position:center ;
}
#menu-tile span,#specials-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}
/*End main-content*/

/*Footer*/
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer div.row{
    margin-bottom: 35px;
}
#hours, #address{
    line-height: 2;
}
#hours > span, #address > span{
    font-size: 1.3em;
}
#address p{
    color: #5573ce;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials{
    font-style: italic;
}
#testimonials p{
    margin: top 25px;
}
/* END Footer */
/*END homepage*/
/* menu categories page*/
.category-tile{
    position:relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}
.category-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    opacity: .8;
}
.category-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
    margin-bottom: 50px;
}
/*END of menu-categories page*/
/*single-categories-page*/
.menu-item-tile{
    margin-bottom: 25px;
}
.menu-item-tile hr{
    width: 80%;
}
.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-tile .menu-item-price span{
    font-size: .6em;
}
.menu-item-photo{
    position: relative;
    overflow: hidden;
    padding:0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #5573ce;
    text-align: center;
}
.menu-item-description{
    padding-right: 30px;
}
h3.menu-item-title{
    margin: 0 0 10px;
}
.menu-item-details{
    font: size 0.9em;   
    font-style: italic;
}
/*END single category page*/ 
/*Large devices only*/
@media(min-width:1200px){
    .container .jumbotron{
        height: 675px;
    }
}
/*medium devises only*/
@media((min-width:992px) and (max-width:1199px) ){
    /*header*/
    #logo-img{
        background: url('2.jpg') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0px;
    }
}
/*small devices only*/
@media((min-width:786px) and (max-width:991px)){
    .container .jumbotron{
        height: 432px;
    }
    .container .jumbotron{
        height: 475px;
        margin: 20px;
    }
}
/*extra small devices only*/
@media(max-width:767px){
    /*header*/
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h2{/*gallery name*/
        padding-top: 10px;
        font-size: 5vw; /*1vw= 1% of the viewport width*/
    }
    .navbar-brand p{
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;

    }
    .navbar-brand p img{
        height: 20px;
    }
    /*END header*/
    /*Home page*/
    .container .jumbotron{
        margin-top: 30px;
        padding: 0px;
    }
    /*END Home page*/
    /* Footer*/
    .panel-footer section hr{
        width: 50%; 
    }
    /*menu-categories*/
    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
    /*single category*/
    .menu-item-photo{
        margin-right: auto;
    }
    .menu-item-tile .menu-item-price{
        text-align: center;
    }
    .menu-item-description{
        text-align: center;
    }
}